@font-face {
    font-family: "Valkyrie";
    src: url("./Valkyrie.ttf?a6084ad5b3c02b7660733313bb94b44a") format("truetype"),
url("./Valkyrie.woff?a6084ad5b3c02b7660733313bb94b44a") format("woff"),
url("./Valkyrie.woff2?a6084ad5b3c02b7660733313bb94b44a") format("woff2"),
url("./Valkyrie.eot?a6084ad5b3c02b7660733313bb94b44a#iefix") format("embedded-opentype");
}

.vi {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: Valkyrie !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    line-height: 1;
    text-rendering: auto;
}

.vi.vi-address-book:before {
    content: "\f101";
}
.vi.vi-angle-down:before {
    content: "\f102";
}
.vi.vi-angle-left:before {
    content: "\f103";
}
.vi.vi-angle-right:before {
    content: "\f104";
}
.vi.vi-angle-up:before {
    content: "\f105";
}
.vi.vi-angles-y:before {
    content: "\f106";
}
.vi.vi-apple-app-store:before {
    content: "\f107";
}
.vi.vi-arrow-down-short-wide:before {
    content: "\f108";
}
.vi.vi-arrow-down-to-line:before {
    content: "\f109";
}
.vi.vi-arrow-down-wide-short:before {
    content: "\f10a";
}
.vi.vi-arrow-down:before {
    content: "\f10b";
}
.vi.vi-arrow-left-from-bracket:before {
    content: "\f10c";
}
.vi.vi-arrow-left-to-bracket:before {
    content: "\f10d";
}
.vi.vi-arrow-left-to-line:before {
    content: "\f10e";
}
.vi.vi-arrow-left:before {
    content: "\f10f";
}
.vi.vi-arrow-right-from-bracket:before {
    content: "\f110";
}
.vi.vi-arrow-right-to-bracket:before {
    content: "\f111";
}
.vi.vi-arrow-right-to-line:before {
    content: "\f112";
}
.vi.vi-arrow-right:before {
    content: "\f113";
}
.vi.vi-arrow-up-short-wide:before {
    content: "\f114";
}
.vi.vi-arrow-up-to-line:before {
    content: "\f115";
}
.vi.vi-arrow-up-wide-short:before {
    content: "\f116";
}
.vi.vi-arrow-up:before {
    content: "\f117";
}
.vi.vi-at:before {
    content: "\f118";
}
.vi.vi-backward:before {
    content: "\f119";
}
.vi.vi-bars:before {
    content: "\f11a";
}
.vi.vi-blf:before {
    content: "\f11b";
}
.vi.vi-book:before {
    content: "\f11c";
}
.vi.vi-box-full:before {
    content: "\f11d";
}
.vi.vi-bug:before {
    content: "\f11e";
}
.vi.vi-building:before {
    content: "\f11f";
}
.vi.vi-calendar-holidays:before {
    content: "\f120";
}
.vi.vi-calendar:before {
    content: "\f121";
}
.vi.vi-call-incoming:before {
    content: "\f122";
}
.vi.vi-call-log:before {
    content: "\f123";
}
.vi.vi-call-outgoing:before {
    content: "\f124";
}
.vi.vi-call:before {
    content: "\f125";
}
.vi.vi-chart-pie:before {
    content: "\f126";
}
.vi.vi-check:before {
    content: "\f127";
}
.vi.vi-chevron-down:before {
    content: "\f128";
}
.vi.vi-chevron-left:before {
    content: "\f129";
}
.vi.vi-chevron-right:before {
    content: "\f12a";
}
.vi.vi-chevron-up:before {
    content: "\f12b";
}
.vi.vi-chrome:before {
    content: "\f12c";
}
.vi.vi-circle-check:before {
    content: "\f12d";
}
.vi.vi-circle-danger:before {
    content: "\f12e";
}
.vi.vi-circle-info:before {
    content: "\f12f";
}
.vi.vi-circle-plus:before {
    content: "\f130";
}
.vi.vi-circle-question:before {
    content: "\f131";
}
.vi.vi-circle-user:before {
    content: "\f132";
}
.vi.vi-circle-warning:before {
    content: "\f133";
}
.vi.vi-city:before {
    content: "\f134";
}
.vi.vi-clock:before {
    content: "\f135";
}
.vi.vi-color-swatch:before {
    content: "\f136";
}
.vi.vi-compass:before {
    content: "\f137";
}
.vi.vi-compress:before {
    content: "\f138";
}
.vi.vi-copy:before {
    content: "\f139";
}
.vi.vi-dashboard:before {
    content: "\f13a";
}
.vi.vi-desk-phone:before {
    content: "\f13b";
}
.vi.vi-desktop:before {
    content: "\f13c";
}
.vi.vi-devices:before {
    content: "\f13d";
}
.vi.vi-earth:before {
    content: "\f13e";
}
.vi.vi-eclipse:before {
    content: "\f13f";
}
.vi.vi-edge:before {
    content: "\f140";
}
.vi.vi-ellipsis:before {
    content: "\f141";
}
.vi.vi-envelope:before {
    content: "\f142";
}
.vi.vi-ethernet:before {
    content: "\f143";
}
.vi.vi-euro:before {
    content: "\f144";
}
.vi.vi-expand:before {
    content: "\f145";
}
.vi.vi-eye-slashed:before {
    content: "\f146";
}
.vi.vi-eye:before {
    content: "\f147";
}
.vi.vi-facebook-messenger:before {
    content: "\f148";
}
.vi.vi-facebook:before {
    content: "\f149";
}
.vi.vi-fast-backward:before {
    content: "\f14a";
}
.vi.vi-fast-forward:before {
    content: "\f14b";
}
.vi.vi-fax:before {
    content: "\f14c";
}
.vi.vi-file:before {
    content: "\f14d";
}
.vi.vi-files:before {
    content: "\f14e";
}
.vi.vi-filter-plus:before {
    content: "\f14f";
}
.vi.vi-filter-x-mark:before {
    content: "\f150";
}
.vi.vi-filter:before {
    content: "\f151";
}
.vi.vi-fingerprint:before {
    content: "\f152";
}
.vi.vi-firefox:before {
    content: "\f153";
}
.vi.vi-flag-checkered:before {
    content: "\f154";
}
.vi.vi-flag:before {
    content: "\f155";
}
.vi.vi-floppy-disk:before {
    content: "\f156";
}
.vi.vi-folder:before {
    content: "\f157";
}
.vi.vi-forward:before {
    content: "\f158";
}
.vi.vi-gauge:before {
    content: "\f159";
}
.vi.vi-gear:before {
    content: "\f15a";
}
.vi.vi-google-play:before {
    content: "\f15b";
}
.vi.vi-grip-lines:before {
    content: "\f15c";
}
.vi.vi-headset:before {
    content: "\f15d";
}
.vi.vi-heart-broken:before {
    content: "\f15e";
}
.vi.vi-heart-half:before {
    content: "\f15f";
}
.vi.vi-heart:before {
    content: "\f160";
}
.vi.vi-history:before {
    content: "\f161";
}
.vi.vi-home:before {
    content: "\f162";
}
.vi.vi-id-card:before {
    content: "\f163";
}
.vi.vi-image:before {
    content: "\f164";
}
.vi.vi-ivr:before {
    content: "\f165";
}
.vi.vi-laptop:before {
    content: "\f166";
}
.vi.vi-layers-plus:before {
    content: "\f167";
}
.vi.vi-layers:before {
    content: "\f168";
}
.vi.vi-lightbulb-on:before {
    content: "\f169";
}
.vi.vi-lightbulb:before {
    content: "\f16a";
}
.vi.vi-link:before {
    content: "\f16b";
}
.vi.vi-linkedin:before {
    content: "\f16c";
}
.vi.vi-list-check:before {
    content: "\f16d";
}
.vi.vi-list-ol:before {
    content: "\f16e";
}
.vi.vi-list-ul:before {
    content: "\f16f";
}
.vi.vi-lock:before {
    content: "\f170";
}
.vi.vi-logs:before {
    content: "\f171";
}
.vi.vi-map-marker-dot:before {
    content: "\f172";
}
.vi.vi-map-marker-route:before {
    content: "\f173";
}
.vi.vi-map-marker-slashed:before {
    content: "\f174";
}
.vi.vi-map-marker:before {
    content: "\f175";
}
.vi.vi-message-pen:before {
    content: "\f176";
}
.vi.vi-message-smile:before {
    content: "\f177";
}
.vi.vi-message-text:before {
    content: "\f178";
}
.vi.vi-message:before {
    content: "\f179";
}
.vi.vi-moon:before {
    content: "\f17a";
}
.vi.vi-music:before {
    content: "\f17b";
}
.vi.vi-network:before {
    content: "\f17c";
}
.vi.vi-parachute:before {
    content: "\f17d";
}
.vi.vi-pause:before {
    content: "\f17e";
}
.vi.vi-pen:before {
    content: "\f17f";
}
.vi.vi-phone-gear:before {
    content: "\f180";
}
.vi.vi-phone:before {
    content: "\f181";
}
.vi.vi-play-pause:before {
    content: "\f182";
}
.vi.vi-play:before {
    content: "\f183";
}
.vi.vi-plus:before {
    content: "\f184";
}
.vi.vi-power:before {
    content: "\f185";
}
.vi.vi-present:before {
    content: "\f186";
}
.vi.vi-provider:before {
    content: "\f187";
}
.vi.vi-puzzle:before {
    content: "\f188";
}
.vi.vi-refresh:before {
    content: "\f189";
}
.vi.vi-reload:before {
    content: "\f18a";
}
.vi.vi-repeat-1:before {
    content: "\f18b";
}
.vi.vi-repeat:before {
    content: "\f18c";
}
.vi.vi-safari:before {
    content: "\f18d";
}
.vi.vi-search:before {
    content: "\f18e";
}
.vi.vi-send:before {
    content: "\f18f";
}
.vi.vi-server:before {
    content: "\f190";
}
.vi.vi-shield-danger:before {
    content: "\f191";
}
.vi.vi-shield-keyhole:before {
    content: "\f192";
}
.vi.vi-shield-plus:before {
    content: "\f193";
}
.vi.vi-shield:before {
    content: "\f194";
}
.vi.vi-shuffle:before {
    content: "\f195";
}
.vi.vi-sim-card:before {
    content: "\f196";
}
.vi.vi-sippy:before {
    content: "\f197";
}
.vi.vi-sliders:before {
    content: "\f198";
}
.vi.vi-smartphone-divert:before {
    content: "\f199";
}
.vi.vi-smartphone:before {
    content: "\f19a";
}
.vi.vi-sound-wave:before {
    content: "\f19b";
}
.vi.vi-spinner-third:before {
    content: "\f19c";
}
.vi.vi-spy:before {
    content: "\f19d";
}
.vi.vi-star:before {
    content: "\f19e";
}
.vi.vi-stop:before {
    content: "\f19f";
}
.vi.vi-store:before {
    content: "\f1a0";
}
.vi.vi-sun:before {
    content: "\f1a1";
}
.vi.vi-table:before {
    content: "\f1a2";
}
.vi.vi-tag:before {
    content: "\f1a3";
}
.vi.vi-timetable:before {
    content: "\f1a4";
}
.vi.vi-trash:before {
    content: "\f1a5";
}
.vi.vi-triangle-warning:before {
    content: "\f1a6";
}
.vi.vi-unlink:before {
    content: "\f1a7";
}
.vi.vi-unlock:before {
    content: "\f1a8";
}
.vi.vi-user-clock:before {
    content: "\f1a9";
}
.vi.vi-user-gear:before {
    content: "\f1aa";
}
.vi.vi-user-headset:before {
    content: "\f1ab";
}
.vi.vi-user-list:before {
    content: "\f1ac";
}
.vi.vi-user-lock:before {
    content: "\f1ad";
}
.vi.vi-user-plus:before {
    content: "\f1ae";
}
.vi.vi-user:before {
    content: "\f1af";
}
.vi.vi-users:before {
    content: "\f1b0";
}
.vi.vi-valkyrie:before {
    content: "\f1b1";
}
.vi.vi-video-recorder:before {
    content: "\f1b2";
}
.vi.vi-video:before {
    content: "\f1b3";
}
.vi.vi-voice-recorder:before {
    content: "\f1b4";
}
.vi.vi-voicemail:before {
    content: "\f1b5";
}
.vi.vi-volume-0:before {
    content: "\f1b6";
}
.vi.vi-volume-1:before {
    content: "\f1b7";
}
.vi.vi-volume-2:before {
    content: "\f1b8";
}
.vi.vi-volume-3:before {
    content: "\f1b9";
}
.vi.vi-volume-none:before {
    content: "\f1ba";
}
.vi.vi-wallpaper:before {
    content: "\f1bb";
}
.vi.vi-window:before {
    content: "\f1bc";
}
.vi.vi-x-mark:before {
    content: "\f1bd";
}
