@font-face {
    font-family: "Valkyrie";
    src: url("./Valkyrie.ttf?fbbf11d5aa29608de3b34da428b22854") format("truetype"),
url("./Valkyrie.woff?fbbf11d5aa29608de3b34da428b22854") format("woff"),
url("./Valkyrie.woff2?fbbf11d5aa29608de3b34da428b22854") format("woff2"),
url("./Valkyrie.eot?fbbf11d5aa29608de3b34da428b22854#iefix") format("embedded-opentype");
}

.vi {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: Valkyrie !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    line-height: 1;
    text-rendering: auto;
}

.vi.vi-address-book:before {
    content: "\f101";
}
.vi.vi-angle-down:before {
    content: "\f102";
}
.vi.vi-angle-left:before {
    content: "\f103";
}
.vi.vi-angle-right:before {
    content: "\f104";
}
.vi.vi-angle-up:before {
    content: "\f105";
}
.vi.vi-apple-app-store:before {
    content: "\f106";
}
.vi.vi-arrow-down-to-line:before {
    content: "\f107";
}
.vi.vi-arrow-down:before {
    content: "\f108";
}
.vi.vi-arrow-left-from-bracket:before {
    content: "\f109";
}
.vi.vi-arrow-left-to-bracket:before {
    content: "\f10a";
}
.vi.vi-arrow-left-to-line:before {
    content: "\f10b";
}
.vi.vi-arrow-left:before {
    content: "\f10c";
}
.vi.vi-arrow-right-from-bracket:before {
    content: "\f10d";
}
.vi.vi-arrow-right-to-bracket:before {
    content: "\f10e";
}
.vi.vi-arrow-right-to-line:before {
    content: "\f10f";
}
.vi.vi-arrow-right:before {
    content: "\f110";
}
.vi.vi-arrow-up-to-line:before {
    content: "\f111";
}
.vi.vi-arrow-up:before {
    content: "\f112";
}
.vi.vi-bars:before {
    content: "\f113";
}
.vi.vi-blf:before {
    content: "\f114";
}
.vi.vi-book:before {
    content: "\f115";
}
.vi.vi-box-full:before {
    content: "\f116";
}
.vi.vi-building:before {
    content: "\f117";
}
.vi.vi-calendar-holidays:before {
    content: "\f118";
}
.vi.vi-calendar:before {
    content: "\f119";
}
.vi.vi-check:before {
    content: "\f11a";
}
.vi.vi-circle-check:before {
    content: "\f11b";
}
.vi.vi-circle-danger:before {
    content: "\f11c";
}
.vi.vi-circle-info:before {
    content: "\f11d";
}
.vi.vi-circle-plus:before {
    content: "\f11e";
}
.vi.vi-circle-question:before {
    content: "\f11f";
}
.vi.vi-circle-user:before {
    content: "\f120";
}
.vi.vi-circle-warning:before {
    content: "\f121";
}
.vi.vi-clock:before {
    content: "\f122";
}
.vi.vi-compass:before {
    content: "\f123";
}
.vi.vi-copy:before {
    content: "\f124";
}
.vi.vi-dashboard:before {
    content: "\f125";
}
.vi.vi-desk-phone:before {
    content: "\f126";
}
.vi.vi-desktop:before {
    content: "\f127";
}
.vi.vi-devices:before {
    content: "\f128";
}
.vi.vi-earth:before {
    content: "\f129";
}
.vi.vi-ellipsis:before {
    content: "\f12a";
}
.vi.vi-envelope:before {
    content: "\f12b";
}
.vi.vi-euro:before {
    content: "\f12c";
}
.vi.vi-facebook-messenger:before {
    content: "\f12d";
}
.vi.vi-facebook:before {
    content: "\f12e";
}
.vi.vi-fax:before {
    content: "\f12f";
}
.vi.vi-filter-plus:before {
    content: "\f130";
}
.vi.vi-filter-x-mark:before {
    content: "\f131";
}
.vi.vi-filter:before {
    content: "\f132";
}
.vi.vi-fingerprint:before {
    content: "\f133";
}
.vi.vi-flag-checkered:before {
    content: "\f134";
}
.vi.vi-flag:before {
    content: "\f135";
}
.vi.vi-floppy-disk:before {
    content: "\f136";
}
.vi.vi-folder:before {
    content: "\f137";
}
.vi.vi-gauge:before {
    content: "\f138";
}
.vi.vi-gear:before {
    content: "\f139";
}
.vi.vi-google-play:before {
    content: "\f13a";
}
.vi.vi-headset:before {
    content: "\f13b";
}
.vi.vi-heart-broken:before {
    content: "\f13c";
}
.vi.vi-heart-half:before {
    content: "\f13d";
}
.vi.vi-heart:before {
    content: "\f13e";
}
.vi.vi-history:before {
    content: "\f13f";
}
.vi.vi-home:before {
    content: "\f140";
}
.vi.vi-id-card:before {
    content: "\f141";
}
.vi.vi-image:before {
    content: "\f142";
}
.vi.vi-laptop:before {
    content: "\f143";
}
.vi.vi-layers-plus:before {
    content: "\f144";
}
.vi.vi-layers:before {
    content: "\f145";
}
.vi.vi-lightbulb-on:before {
    content: "\f146";
}
.vi.vi-lightbulb:before {
    content: "\f147";
}
.vi.vi-linkedin:before {
    content: "\f148";
}
.vi.vi-list-ol:before {
    content: "\f149";
}
.vi.vi-lock:before {
    content: "\f14a";
}
.vi.vi-map-marker-slashed:before {
    content: "\f14b";
}
.vi.vi-map-marker:before {
    content: "\f14c";
}
.vi.vi-message:before {
    content: "\f14d";
}
.vi.vi-network:before {
    content: "\f14e";
}
.vi.vi-parachute:before {
    content: "\f14f";
}
.vi.vi-pen:before {
    content: "\f150";
}
.vi.vi-phone-gear:before {
    content: "\f151";
}
.vi.vi-phone:before {
    content: "\f152";
}
.vi.vi-plus:before {
    content: "\f153";
}
.vi.vi-present:before {
    content: "\f154";
}
.vi.vi-refresh:before {
    content: "\f155";
}
.vi.vi-search:before {
    content: "\f156";
}
.vi.vi-send:before {
    content: "\f157";
}
.vi.vi-server:before {
    content: "\f158";
}
.vi.vi-shield-danger:before {
    content: "\f159";
}
.vi.vi-shield-keyhole:before {
    content: "\f15a";
}
.vi.vi-shield-plus:before {
    content: "\f15b";
}
.vi.vi-shield:before {
    content: "\f15c";
}
.vi.vi-sim-card:before {
    content: "\f15d";
}
.vi.vi-sippy:before {
    content: "\f15e";
}
.vi.vi-smartphone-divert:before {
    content: "\f15f";
}
.vi.vi-smartphone:before {
    content: "\f160";
}
.vi.vi-sound-wave:before {
    content: "\f161";
}
.vi.vi-spinner-third:before {
    content: "\f162";
}
.vi.vi-spy:before {
    content: "\f163";
}
.vi.vi-table:before {
    content: "\f164";
}
.vi.vi-timetable:before {
    content: "\f165";
}
.vi.vi-trash:before {
    content: "\f166";
}
.vi.vi-triangle-warning:before {
    content: "\f167";
}
.vi.vi-unlock:before {
    content: "\f168";
}
.vi.vi-user-gear:before {
    content: "\f169";
}
.vi.vi-user-headset:before {
    content: "\f16a";
}
.vi.vi-user-list:before {
    content: "\f16b";
}
.vi.vi-user-lock:before {
    content: "\f16c";
}
.vi.vi-user-plus:before {
    content: "\f16d";
}
.vi.vi-user:before {
    content: "\f16e";
}
.vi.vi-users:before {
    content: "\f16f";
}
.vi.vi-valkyrie:before {
    content: "\f170";
}
.vi.vi-video-recorder:before {
    content: "\f171";
}
.vi.vi-voice-recorder:before {
    content: "\f172";
}
.vi.vi-voicemail:before {
    content: "\f173";
}
.vi.vi-wallpaper:before {
    content: "\f174";
}
.vi.vi-x-mark:before {
    content: "\f175";
}
