@font-face {
  font-family: "Valkyrie";
  src: url("./fonts/Valkyrie.ttf?d86ddf5f6da0de0c529308a30355532c") format("truetype"),
url("./fonts/Valkyrie.woff?d86ddf5f6da0de0c529308a30355532c") format("woff"),
url("./fonts/Valkyrie.woff2?d86ddf5f6da0de0c529308a30355532c") format("woff2"),
url("./fonts/Valkyrie.eot?d86ddf5f6da0de0c529308a30355532c#iefix") format("embedded-opentype");
}

.vi {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: Valkyrie !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal !important;
  line-height: 1;
  text-rendering: auto;
  box-sizing: content-box;
  position: relative;
  overflow: visible;
  vertical-align: 0;
  flex-shrink: 0;
}

.vi-spin {
  animation-name: animate-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (prefers-reduced-motion: reduce) {
  .vi-spin {
    animation: none;
  }
}

.vi-rotate-90 {
  transform: rotate(90deg);
}

.vi-rotate-180 {
  transform: rotate(180deg);
}

.vi-rotate-270 {
  transform: rotate(270deg);
}

.vi-flip-x {
  transform: scaleX(-1);
}

.vi-flip-y {
  transform: scaleY(-1);
}

.vi-flip {
  transform: scale(-1);
}

@keyframes animate-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.vi.vi-a-gum:before {
 content: "\f101";
}
.vi.vi-address-book:before {
 content: "\f102";
}
.vi.vi-angle-down:before {
 content: "\f103";
}
.vi.vi-angle-left:before {
 content: "\f104";
}
.vi.vi-angle-right:before {
 content: "\f105";
}
.vi.vi-angle-up:before {
 content: "\f106";
}
.vi.vi-angles-y:before {
 content: "\f107";
}
.vi.vi-apple-app-store:before {
 content: "\f108";
}
.vi.vi-arrow-down-short-wide:before {
 content: "\f109";
}
.vi.vi-arrow-down-to-line:before {
 content: "\f10a";
}
.vi.vi-arrow-down-wide-short:before {
 content: "\f10b";
}
.vi.vi-arrow-down:before {
 content: "\f10c";
}
.vi.vi-arrow-left-from-bracket:before {
 content: "\f10d";
}
.vi.vi-arrow-left-to-bracket:before {
 content: "\f10e";
}
.vi.vi-arrow-left-to-line:before {
 content: "\f10f";
}
.vi.vi-arrow-left:before {
 content: "\f110";
}
.vi.vi-arrow-pointer:before {
 content: "\f111";
}
.vi.vi-arrow-right-from-bracket:before {
 content: "\f112";
}
.vi.vi-arrow-right-prohibited:before {
 content: "\f113";
}
.vi.vi-arrow-right-to-bracket:before {
 content: "\f114";
}
.vi.vi-arrow-right-to-line:before {
 content: "\f115";
}
.vi.vi-arrow-right:before {
 content: "\f116";
}
.vi.vi-arrow-rotate-right:before {
 content: "\f117";
}
.vi.vi-arrow-up-short-wide:before {
 content: "\f118";
}
.vi.vi-arrow-up-to-line:before {
 content: "\f119";
}
.vi.vi-arrow-up-wide-short:before {
 content: "\f11a";
}
.vi.vi-arrow-up:before {
 content: "\f11b";
}
.vi.vi-arrows-rotate-right:before {
 content: "\f11c";
}
.vi.vi-asterisk:before {
 content: "\f11d";
}
.vi.vi-at:before {
 content: "\f11e";
}
.vi.vi-backward:before {
 content: "\f11f";
}
.vi.vi-bars:before {
 content: "\f120";
}
.vi.vi-blf:before {
 content: "\f121";
}
.vi.vi-bold:before {
 content: "\f122";
}
.vi.vi-book:before {
 content: "\f123";
}
.vi.vi-box-open-full:before {
 content: "\f124";
}
.vi.vi-brackets-curly:before {
 content: "\f125";
}
.vi.vi-bug:before {
 content: "\f126";
}
.vi.vi-building:before {
 content: "\f127";
}
.vi.vi-calendar-stars:before {
 content: "\f128";
}
.vi.vi-calendar:before {
 content: "\f129";
}
.vi.vi-chain-slash:before {
 content: "\f12a";
}
.vi.vi-chain:before {
 content: "\f12b";
}
.vi.vi-chart-pie:before {
 content: "\f12c";
}
.vi.vi-check:before {
 content: "\f12d";
}
.vi.vi-chevron-down:before {
 content: "\f12e";
}
.vi.vi-chevron-left:before {
 content: "\f12f";
}
.vi.vi-chevron-right:before {
 content: "\f130";
}
.vi.vi-chevron-up:before {
 content: "\f131";
}
.vi.vi-chrome:before {
 content: "\f132";
}
.vi.vi-circle-check:before {
 content: "\f133";
}
.vi.vi-circle-exclamation:before {
 content: "\f134";
}
.vi.vi-circle-info:before {
 content: "\f135";
}
.vi.vi-circle-plus:before {
 content: "\f136";
}
.vi.vi-circle-question:before {
 content: "\f137";
}
.vi.vi-circle-user:before {
 content: "\f138";
}
.vi.vi-circle-xmark:before {
 content: "\f139";
}
.vi.vi-city:before {
 content: "\f13a";
}
.vi.vi-clock-rotate-left:before {
 content: "\f13b";
}
.vi.vi-clock:before {
 content: "\f13c";
}
.vi.vi-code:before {
 content: "\f13d";
}
.vi.vi-codeblock:before {
 content: "\f13e";
}
.vi.vi-compass:before {
 content: "\f13f";
}
.vi.vi-compress:before {
 content: "\f140";
}
.vi.vi-copy:before {
 content: "\f141";
}
.vi.vi-devices:before {
 content: "\f142";
}
.vi.vi-display:before {
 content: "\f143";
}
.vi.vi-earth:before {
 content: "\f144";
}
.vi.vi-eclipse:before {
 content: "\f145";
}
.vi.vi-edge:before {
 content: "\f146";
}
.vi.vi-ellipsis:before {
 content: "\f147";
}
.vi.vi-envelope:before {
 content: "\f148";
}
.vi.vi-ethernet:before {
 content: "\f149";
}
.vi.vi-euro:before {
 content: "\f14a";
}
.vi.vi-expand:before {
 content: "\f14b";
}
.vi.vi-eye-slash:before {
 content: "\f14c";
}
.vi.vi-eye:before {
 content: "\f14d";
}
.vi.vi-facebook-messenger:before {
 content: "\f14e";
}
.vi.vi-facebook:before {
 content: "\f14f";
}
.vi.vi-fast-backward:before {
 content: "\f150";
}
.vi.vi-fast-forward:before {
 content: "\f151";
}
.vi.vi-fax:before {
 content: "\f152";
}
.vi.vi-file:before {
 content: "\f153";
}
.vi.vi-files-list:before {
 content: "\f154";
}
.vi.vi-files:before {
 content: "\f155";
}
.vi.vi-filmstrip:before {
 content: "\f156";
}
.vi.vi-filter-plus:before {
 content: "\f157";
}
.vi.vi-filter-xmark:before {
 content: "\f158";
}
.vi.vi-filter:before {
 content: "\f159";
}
.vi.vi-fingerprint:before {
 content: "\f15a";
}
.vi.vi-firefox:before {
 content: "\f15b";
}
.vi.vi-flag-checkered:before {
 content: "\f15c";
}
.vi.vi-flag:before {
 content: "\f15d";
}
.vi.vi-floppy-disk:before {
 content: "\f15e";
}
.vi.vi-folder:before {
 content: "\f15f";
}
.vi.vi-forward:before {
 content: "\f160";
}
.vi.vi-gauge:before {
 content: "\f161";
}
.vi.vi-gear:before {
 content: "\f162";
}
.vi.vi-gift:before {
 content: "\f163";
}
.vi.vi-github:before {
 content: "\f164";
}
.vi.vi-google-play:before {
 content: "\f165";
}
.vi.vi-grid:before {
 content: "\f166";
}
.vi.vi-grip-lines:before {
 content: "\f167";
}
.vi.vi-heading-1:before {
 content: "\f168";
}
.vi.vi-heading-2:before {
 content: "\f169";
}
.vi.vi-heading-3:before {
 content: "\f16a";
}
.vi.vi-heading-4:before {
 content: "\f16b";
}
.vi.vi-heading-5:before {
 content: "\f16c";
}
.vi.vi-heading-6:before {
 content: "\f16d";
}
.vi.vi-headset:before {
 content: "\f16e";
}
.vi.vi-heart-crack:before {
 content: "\f16f";
}
.vi.vi-heart-half:before {
 content: "\f170";
}
.vi.vi-heart:before {
 content: "\f171";
}
.vi.vi-house:before {
 content: "\f172";
}
.vi.vi-id-card:before {
 content: "\f173";
}
.vi.vi-image:before {
 content: "\f174";
}
.vi.vi-italic:before {
 content: "\f175";
}
.vi.vi-laptop:before {
 content: "\f176";
}
.vi.vi-layers-plus:before {
 content: "\f177";
}
.vi.vi-layers:before {
 content: "\f178";
}
.vi.vi-lightbulb-on:before {
 content: "\f179";
}
.vi.vi-lightbulb:before {
 content: "\f17a";
}
.vi.vi-line:before {
 content: "\f17b";
}
.vi.vi-linkedin:before {
 content: "\f17c";
}
.vi.vi-list-checks:before {
 content: "\f17d";
}
.vi.vi-list-clock:before {
 content: "\f17e";
}
.vi.vi-list-ordered-clock:before {
 content: "\f17f";
}
.vi.vi-list-ordered:before {
 content: "\f180";
}
.vi.vi-list:before {
 content: "\f181";
}
.vi.vi-location-pin-dot:before {
 content: "\f182";
}
.vi.vi-location-pin-slash:before {
 content: "\f183";
}
.vi.vi-location-pin:before {
 content: "\f184";
}
.vi.vi-location-pins-route:before {
 content: "\f185";
}
.vi.vi-lock-open:before {
 content: "\f186";
}
.vi.vi-lock:before {
 content: "\f187";
}
.vi.vi-magnifying-glass:before {
 content: "\f188";
}
.vi.vi-megaphone:before {
 content: "\f189";
}
.vi.vi-message-pen:before {
 content: "\f18a";
}
.vi.vi-message-smile:before {
 content: "\f18b";
}
.vi.vi-message-text:before {
 content: "\f18c";
}
.vi.vi-message:before {
 content: "\f18d";
}
.vi.vi-microphone:before {
 content: "\f18e";
}
.vi.vi-moon:before {
 content: "\f18f";
}
.vi.vi-music:before {
 content: "\f190";
}
.vi.vi-network:before {
 content: "\f191";
}
.vi.vi-numpad:before {
 content: "\f192";
}
.vi.vi-paper-plane:before {
 content: "\f193";
}
.vi.vi-parachute-box:before {
 content: "\f194";
}
.vi.vi-paragraph:before {
 content: "\f195";
}
.vi.vi-pause:before {
 content: "\f196";
}
.vi.vi-pen:before {
 content: "\f197";
}
.vi.vi-people-circle:before {
 content: "\f198";
}
.vi.vi-people:before {
 content: "\f199";
}
.vi.vi-person-clock:before {
 content: "\f19a";
}
.vi.vi-person-gear:before {
 content: "\f19b";
}
.vi.vi-person-headset:before {
 content: "\f19c";
}
.vi.vi-person-list:before {
 content: "\f19d";
}
.vi.vi-person-lock:before {
 content: "\f19e";
}
.vi.vi-person-plus:before {
 content: "\f19f";
}
.vi.vi-person:before {
 content: "\f1a0";
}
.vi.vi-phone-arrow-down-left-prohibited:before {
 content: "\f1a1";
}
.vi.vi-phone-arrow-down-left:before {
 content: "\f1a2";
}
.vi.vi-phone-arrow-up-right-prohibited:before {
 content: "\f1a3";
}
.vi.vi-phone-arrow-up-right:before {
 content: "\f1a4";
}
.vi.vi-phone-clock:before {
 content: "\f1a5";
}
.vi.vi-phone-gear:before {
 content: "\f1a6";
}
.vi.vi-phone-list:before {
 content: "\f1a7";
}
.vi.vi-phone-office:before {
 content: "\f1a8";
}
.vi.vi-phone-volume:before {
 content: "\f1a9";
}
.vi.vi-phone:before {
 content: "\f1aa";
}
.vi.vi-play-pause:before {
 content: "\f1ab";
}
.vi.vi-play:before {
 content: "\f1ac";
}
.vi.vi-plus:before {
 content: "\f1ad";
}
.vi.vi-power:before {
 content: "\f1ae";
}
.vi.vi-prohibited:before {
 content: "\f1af";
}
.vi.vi-puzzle-piece:before {
 content: "\f1b0";
}
.vi.vi-quote:before {
 content: "\f1b1";
}
.vi.vi-redo:before {
 content: "\f1b2";
}
.vi.vi-repeat-once:before {
 content: "\f1b3";
}
.vi.vi-repeat:before {
 content: "\f1b4";
}
.vi.vi-safari:before {
 content: "\f1b5";
}
.vi.vi-server:before {
 content: "\f1b6";
}
.vi.vi-shield-keyhole:before {
 content: "\f1b7";
}
.vi.vi-shield-plus:before {
 content: "\f1b8";
}
.vi.vi-shield-xmark:before {
 content: "\f1b9";
}
.vi.vi-shield:before {
 content: "\f1ba";
}
.vi.vi-shuffle:before {
 content: "\f1bb";
}
.vi.vi-sim-card:before {
 content: "\f1bc";
}
.vi.vi-sippy:before {
 content: "\f1bd";
}
.vi.vi-sliders:before {
 content: "\f1be";
}
.vi.vi-smartphone-arrow-right:before {
 content: "\f1bf";
}
.vi.vi-smartphone:before {
 content: "\f1c0";
}
.vi.vi-spinner-third:before {
 content: "\f1c1";
}
.vi.vi-spy:before {
 content: "\f1c2";
}
.vi.vi-square-gum:before {
 content: "\f1c3";
}
.vi.vi-star:before {
 content: "\f1c4";
}
.vi.vi-stop:before {
 content: "\f1c5";
}
.vi.vi-store:before {
 content: "\f1c6";
}
.vi.vi-strikethrough:before {
 content: "\f1c7";
}
.vi.vi-sun:before {
 content: "\f1c8";
}
.vi.vi-swatchbook:before {
 content: "\f1c9";
}
.vi.vi-table-clock:before {
 content: "\f1ca";
}
.vi.vi-table:before {
 content: "\f1cb";
}
.vi.vi-tag:before {
 content: "\f1cc";
}
.vi.vi-tower-broadcast:before {
 content: "\f1cd";
}
.vi.vi-trash-can:before {
 content: "\f1ce";
}
.vi.vi-triangle-exclamation:before {
 content: "\f1cf";
}
.vi.vi-underline:before {
 content: "\f1d0";
}
.vi.vi-undo:before {
 content: "\f1d1";
}
.vi.vi-valkyrie-sword:before {
 content: "\f1d2";
}
.vi.vi-video:before {
 content: "\f1d3";
}
.vi.vi-voicemail:before {
 content: "\f1d4";
}
.vi.vi-volume-0:before {
 content: "\f1d5";
}
.vi.vi-volume-1:before {
 content: "\f1d6";
}
.vi.vi-volume-2:before {
 content: "\f1d7";
}
.vi.vi-volume-3:before {
 content: "\f1d8";
}
.vi.vi-volume-slash:before {
 content: "\f1d9";
}
.vi.vi-wallpaper:before {
 content: "\f1da";
}
.vi.vi-waveform:before {
 content: "\f1db";
}
.vi.vi-webhooks-clock:before {
 content: "\f1dc";
}
.vi.vi-webhooks:before {
 content: "\f1dd";
}
.vi.vi-window:before {
 content: "\f1de";
}
.vi.vi-xmark:before {
 content: "\f1df";
}
